@{
    ViewData["Title"] = "Enviromental Page";
}
<h1 class="my-4 text-center">@ViewData["Title"]</h1>
<p style="text-align: center;">
    In aiming to achieve our sustainable goals. The Foundation has initiated a Sustainable HEAL Garden at Sarva Dharma Ashram in Welbedacht. We have cleared the land and began to plant vegetables which will be used at the Ashram
</p>
<!-- Footer with Event Images and Descriptions -->
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Environmental Event 1</h2>
                    <p style="text-align: center;">
                        Description of Environmental Event 1. This event focuses on community tree planting to promote green spaces and combat climate change.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/Event 5.jpg" alt="Environmental Event 1" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Environmental Event 2</h2>
                    <p style="text-align: center;">
                        Description of Environmental Event 2. This event was a beach cleanup initiative that helped improve the local marine environment.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/Event 6.jpg" alt="Environmental Event 2" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Environmental Event 3</h2>
                    <p style="text-align: center;">
                        Description of Environmental Event 3. Volunteers participated in a river cleanup to help restore natural habitats and improve water quality.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/Event 9.jpg" alt="Environmental Event 3" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section light-green-bg">
                    <h2>Environmental Event 4</h2>
                    <p style="text-align: center;">
                        Description of Environmental Event 4. This event raised awareness about recycling and waste management practices in the community.
                    </p>
                    <div style="text-align: center;">
                        <img src="~/images/EnvEvent4.jpg" alt="Environmental Event 4" class="img-fluid mb-4 small-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="vision-section" style="background-color: #A9CBA6; padding: 30px 0;">
    <!-- Lighter green color -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/Volunteers/Create" class="custom-green-link btn-lg">Join Us as a Volunteer</a>
            </div>
        </div>
    </div>
</footer>
